/* Add custom styles here, for example from the source repository */

/* Example from stadt-geschichte-basel.github.io */
@font-face {
	font-family: 'Euclid Circular B';
	src: url('assets/fonts/EuclidCircularB-Regular-WebS.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Euclid Circular B';
	src: url('assets/fonts/EuclidCircularB-Medium-WebS.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Euclid Circular B';
	src: url('assets/fonts/EuclidCircularB-Semibold-WebS.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* other styles... */
